.tools {
  padding: 0 30px 0 30px;

  &.background--white {
    background: #fff;
    height: 100vh;
  }

  .form-control.col-sm-3 {
    width: 33.3333%;
  }

  label {
    position: relative;
    top: 7px;
  }

  .offlinesig-qr {
    position: fixed;
    top: 68px;
    left: 0;
    background: #fff;
    width: 100%;
    height: 100%;
    z-index: 100;

    .btn {
      position: fixed;
      bottom: 28px;
      right: 10px;
    }
  }

  .iguana-core-toggle {
    position: relative;
    top: -6px;
    left: 18px;
  }

  .tools-btn-block {
    position: relative;
    left: -20px;

    .btn {
      margin-bottom: 20px;
      margin-left: 20px;
    }
  }
}