.coind-stop-icon,
.coind-remove-icon {
  font-size: 20px;
  position: absolute;
  top: 19px;
  right: 12px;
  color: #ccc !important;

  &:hover {
    color: #e9595b !important;
  }
}

.coind-remove-icon {
  transform: rotate(45deg);
  top: 45px;
}

.coind-remove-icon-spv {
  top: 19px;
}

.icon-spv-connection-warning,
.icon-native-connection-warning {
  position: absolute;
  bottom: 20px;
  right: 15px;

  &:before {
    color: #f2a654;
    font-size: 18px;
  }
}

.icon-native-connection-warning {
  &:before {
    color: #e9595b;
  }
}

.badge.up {
  position: relative;
  z-index: 10;
  top: 0;
  left: 0;
  margin: 0;
  border-radius: 0;
}

.list-group-item {
  .widget,
  .widget-content {
    height: 150px;

    .avatar {
      margin-top: 10px;
    }
  }
}

.wallet-widgets-row {
  .coin-tile-context-menu {
    top: 45px;
    left: 21px;
  }
}

.page-aside-inner {
  box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.07);
}