.modal-claim-interest {
  .modal-dialog {
    width: 70%;

    .ReactTable {
      width: 100%;
      max-height: calc(40vh);
    }
    .claim-btn {
      float: right;
      margin-bottom: 30px;
    }
    .bold {
      font-weight: bold;
    }
    .green {
      color: #66bb6a;
    }
    .red {
      color: #f96868;
    }
    .locktime {
      i {
        font-size: 20px;
        line-height: 1.1;
      }
    }

    .refresh-icon {
      position: absolute;
      right: 20px;
      font-size: 20px;
      z-index: 100;
    }

    .bootstrap-select {
      max-width: 400px;
    }
  }
}