@import '../assets/global/css/bootstrap.min.css';
@import '../assets/global/css/bootstrap-extend.min.css';
@import '../assets/css/site.min.css';
@import '../assets/css/dashboard.css';
@import '../assets/css/dashboard-wallet-widgets.css';
@import '../assets/global/vendor/animsition/animsition.min.css';
@import '../assets/global/vendor/jquery-labelauty/jquery-labelauty.min.css';
@import '../assets/global/vendor/bootstrap-toastr/toastr.min.css';
@import '../assets/global/vendor/bootstrap-select/bootstrap-select.min.css';
@import '../assets/global/vendor/sweetalert2/sweetalert2.min.css';
@import '../assets/global/vendor/waves/waves.min.css';
@import '../assets/global/vendor/ladda-bootstrap/ladda.min.css';
@import '../assets/pages/login.css';
@import '../assets/global/fonts/font-awesome/font-awesome.min.css';
@import '../assets/skins/orange.min.css';
@import '~react-table/react-table.css';
@import '~react-select/dist/react-select.css';
@import '~rc-slider/assets/index.css';

/* components styling */
@import '../components/addcoin/addcoin.scss';
@import '../components/dashboard/main/dashboard.scss';
@import '../components/login/login.scss';
@import '../components/overrides.scss';
@import '../components/switch.scss';
@import '../components/select.scss';
@import '../components/modal.scss';
@import '../components/rcSlider.scss';
@import '../components/contextMenu.scss';
@import '../components/dashboard/walletsInfo/walletsInfo.scss';
@import '../components/dashboard/sendCoin/sendCoin.scss';
@import '../components/dashboard/walletsNav/walletsNav.scss';
@import '../components/dashboard/coinTile/coinTile.scss';
@import '../components/dashboard/navbar/navbar.scss';
@import '../components/dashboard/settings/settings.scss';
@import '../components/dashboard/walletsData/walletsData.scss';
@import '../components/dashboard/walletsBalance/walletsBalance.scss';
@import '../components/dashboard/claimInterestModal/claimInterestModal.scss';
@import '../components/dashboard/qrModal/qrModal.scss';
@import '../components/dashboard/walletRisksModal/walletRisksModal.scss';
@import '../components/dashboard/walletsTxInfo/walletsTxInfo.scss';
@import '../components/dashboard/support/support.scss';
@import '../components/dashboard/spinner/spinner.scss';
@import '../components/dashboard/receiveCoin/receiveCoin.scss';
/*@import '../components/dashboard/tools/tools.scss';*/
@import '../components/toaster/toaster.scss';
// responsive
@import '../components/responsive.scss';