.qr-modal-send-block {
  position: absolute;
  top: 15px;
  right: 30px;
}

.webcam-frame {
  width: 100%;
  text-align: center;
  font-size: 16px;
}
.table a.save-image-button {
  text-decoration: none;
}

.qr-reader-comp {
  height: 281;
  width: 500;
  transform: scaleX(-1);
}

.overflow-hidden {
  overflow: hidden;
}

#QRModal {
  .modal-body {
    text-align: center;
  }
}