.breadcrumb {
  padding: 8px 30px 0;
  position: relative;
  top: -10px;

  > li + li:before {
    display: none;
  }
}

.header-easydex-section {
  img {
    max-width: 60px;
  }
}

.coin-logo-wide {
  padding: 8px 30px 0;
  position: relative;
  top: 0;

  .header-easydex-section {
    img {
      width: inherit;
      max-width: inherit;
      position: relative;
      top: -5px;
    }
  }

  &.native-coin-logo {
    top: -93px;

    .header-easydex-section {
      img {
        width: inherit;
      }
    }
  }
}

.native-coin-logo {
  float: left;
  position: absolute;
  top: -105px;
  z-index: 100;

  .header-easydex-section {
    img {
      width: 60px;
      max-height: 60px;
    }
  }
}

.page-header--native {
  height: 75px;
}

.page-header--spv {
  height: 120px;

  .page-header-actions {
    top: 73%;
  }
}

#kmd_header_button {
  button {
    margin-right: 5px;
  }
}

.kmd-mobile-icon {
  display: none;
}

.native-coin-logo .header-easydex-section img {
  width: inherit !important;
}

.coin-logo {
  &.breadcrumb {
    z-index: 99;
  }
}

.whitelabel-icon-title {
  position: relative;
  left: 15px;
  top: -2px;
  color: #757575;
}