body {
  padding-top: 44px;
}

#app {
  height: 100%;

  > div {
    height: 100%;
  }
}

.page-main {
  background: #f3f4f5;

  .page-content .receive-coin-block .panel-body {
    padding-bottom: 0 !important;
  }
}

.widget {
  &.active {
    .bg-white {
      box-shadow: inset 1px 1px 10px #ccc;
    }
  }
}

#section-dashboard {
  height: 100%;
}

#edexcoin_dashboardinfo a,
.nav-top-menu,
#kmd_txid_info_mdl .nav-tabs li,
.pagination a,
.action {
  cursor: pointer;
  cursor: hand;
}

#easydex-header-div {
  background-repeat: no-repeat;
  background-size: 100%;
}

.unselectable {
  user-select: none;
  cursor: default;
}

.selectable {
  user-select: all;
}

.seed-toggle {
  position: absolute;
  right: 10px;
  top: 6px;
  cursor: pointer;
  cursor: hand;
}

.radio-custom {
  input {
    cursor: pointer;
    cursor: hand;
  }
}

.collapse {
  overflow: hidden;
  display: block;
}

.collapse-active,
.panel>:not(.panel-loading):not(.collapsing) {
  transition: height 0.3s ease-out;
}

.btn-outline-primary {
  color: #FF6600;
  background-color: #fff;
  border-color: #FF6600;
}

.center {
  text-align: center;
}

.dropdown-menu {
  li {
    cursor: pointer;
  }
}

.pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

#js-copytextarea {
  opacity: 0;
  height: 10px;
  width: 200px;
}

.panel-actions {
  .progress {
    width: inherit;
  }
}

.clipboard-edexaddr {
  margin-left: 10px;
}

.backround-gray {
  background: #f3f4f5;
}

.table-striped {
  > tbody {
    > tr.hover--none {
      background-color: inherit;
    }
  }
}

.toggle-filters:hover {
  background-color: #f3f1f1;
}

.no-padding-left {
  padding-left: 0;
}

.alert-info,
.alert-warning {
  width: 97.1%;
  margin: 0 auto;
}

.page-content-native {
  position: relative;
  top: -20px;
}

.bold {
  font-weight: bold;
}

.color-warning {
  color: #FF6600;
}

.dropdown-toggle {
  &.disabled {
    opacity: 1;
    cursor: default !important;
  }
  .bs-caret {
    display: none;
  }
}

.no-borders {
  tbody > tr > td {
    border: none;
  }
}

.push-right {
  float: right;
}
.push-left {
  float: left;
}

.col-red {
  color: #f96868;
}

.inline {
  display: inline-block;
}

.display--block {
  display: block;
}

.fs-15 {
  font-size: 15px;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.__react_component_tooltip {
  &.type-dark {
    background-color: #000;
  }
}

.cursor-default {
  cursor: default;
}

.font-size-18 {
  font-size: 18px;
}
.font-size-24 {
  font-size: 24px;
}

.nbsp {
  margin-right: 3px;
}
.nbsp-l {
  margin-left: 3px;
}