.rc-slider {
  .rc-slider-handle {
    position: absolute;
    margin-left: -10px;
    margin-top: -7px;
    width: 20px;
    height: 20px;
  }

  .rc-slider-mark {
    top: 23px;
    font-size: 14px;
  }

  .rc-slider-rail,
  .rc-slider-track {
    height: 6px;
  }

  .rc-slider-rail {
    background-color: #dcdcdc;
  }

  .rc-slider-track {
    background-color: #51c4f9;
  }

  .rc-slider-handle {
    border-color: #51c4f9;
  }

  .rc-slider-dot {
    bottom: -5px;
    width: 12px;
    height: 12px;
  }

  .rc-slider-dot-active {
    border-color: #51c4f9 !important;
  }

  .rc-slider-dot {
    border-color: #dcdcdc;
  }
}