.Select {
  cursor: pointer;
  text-align: left;

  img {
    border-radius: 50%;
  }

  * { color: #757575 !important; }

  .Select-clear {
    display: none;
  }
  .Select-control {
    height: 40px !important;

    .Select-placeholder,
    .Select-value {
      line-height: 36px !important;
    }
  }
}
.Select-menu-outer {
  max-height: 253px !important;
}
.Select-menu {
  max-height: 250px !important;
}
.Select.is-open,
.Select.is-focused {
  .Select-control {
    border-color: #FF6600 !important;
    box-shadow: none !important;
  }
  .Select-menu-outer {
    border-color: #FF6600 !important;
    border-top-color: #d9d9d9 !important;
  }
}

.bootstrap-select {
  > .dropdown-toggle {
    z-index: 0;
  }
}

select{
  &.form-control {
    &.form-material {
      color: #757575;
    }
  }
}