.add-coin-modal {
  color: #757575;

  .modal-body {
    /* max-height: 590px; */
    height: 320px;
    overflow-y: auto;
  }

  .multi {
    .col-sm-8 {
      width: 30%;
    }
    .col-sm-12 {
      &.text-center {
        width: 60%;
        padding: 0;

        .col-lg-4 {
          width: 25%;
          margin-right: 8%;
          padding: 0;

          .input{
            &.to-labelauty+label {
              max-width: 136px;
            }
          }
        }
        .col-lg-4 {
          &:last-child {
            margin-right: 0;
          }
        }
        .col-sm-1 {
          width: 44px;
          padding: 0;
        }
      }
    }
  }
}

.vertical-margin-20 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.horizontal-margin-0 {
  margin-left: 0;
  margin-right: 0;
}

.float-none {
  float: none;
}

.add-coin-modes {
  > div {
    padding: 0;

    label {
      margin: 0;
    }
  }
}

.btn-add-coin-item,
.btn-add-coin-item-options,
.btn-save-coin-selection,
.btn-load-coin-selection {
  position: absolute;
  right: 32px;
  z-index: 50;
}
.btn-add-coin-item {
  right: 60px;
}
.btn-add-coin-item-options {
  padding: 6px;
}
.btn-save-coin-selection {
  top: 60px;
}
.btn-load-coin-selection {
  top: 95px;
}

.add-coin-modes {
  opacity: 0;
  height: 15px;
}